@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #005b96;
	--secondary-color: #505b61;
	--tertiary-color: #e3f6fa;
}

body {
	overflow: overlay; /* Keep the scrollbar always visible */
}

/* SELECTION */

::selection {
	color: var(--secondary-color);
	background-color: #eee;
}

/* SCROLLBAR */

::-webkit-scrollbar {
	width: 0.6rem;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: #ddd;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

/* BUTTON ANIMATION ON HOVER */

button.custom-fill {
	overflow: hidden;
	position: relative;
}

button.custom-fill:hover {
	color: #fff;
}

button.custom-fill:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: var(--primary-color);
}

button.custom-fill:hover:after,
button.custom-fill:active:after {
	height: 100%;
}
