@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #f3b61f;
	--secondary-color: #505b61;
	--tertiary-color: #e3f6fa;
}

body {
	overflow: overlay; /* Keep the scrollbar always visible */
}

/* SELECTION */

::selection {
	color: var(--secondary-color);
	background-color: #eee;
}

/* SCROLLBAR */

::-webkit-scrollbar {
	width: 0.6rem;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: #ddd;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

/* BUTTON ANIMATION ON HOVER */

.custom-fill {
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.custom-fill:hover {
	color: white;
}

.custom-fill:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: var(--primary-color);
}

.custom-fill:hover:after,
.custom-fill:active:after {
	height: 100%;
}

/* WHITE BUTTON ANIMATION ON HOVER */

.custom-fill-white {
	overflow: hidden;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.custom-fill-white:hover {
	color: var(--secondary-color);
}

.custom-fill-white:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	transition: all 0.4s linear;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: white;
}

.custom-fill-white:hover:after,
.custom-fill-white:active:after {
	height: 100%;
}

/* INPUT FIELD LABEL ANIMATION */

label {
	user-select: none;
}

input:not(:placeholder-shown) + label,
input:focus + label {
	transition: all 0.2s ease-out;
	transform: translateY(-165%);
	font-size: 0.6em;
	color: var(--primary-color);
}

textarea:not(:placeholder-shown) + label,
textarea:focus + label {
	transition: all 0.2s ease-out;
	transform: translateY(-100%);
	font-size: 0.6em;
	color: var(--primary-color);
}
