@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: gold;
	--secondary-color: #ccc;
}

::selection {
	background-color: var(--primary-color);
	color: white;
}

::-webkit-scrollbar {
	width: 0.6rem;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}
